@{
    ViewBag.Title = "Home Page";
}


<section class="feature">
    <div class="row">
        <div class="span8">
            <div class="padding-wrap">
                <h1>My name is <strong>Ben Cull</strong></h1>
                <h2>AND I LOVE <strong>SOFTWARE DEVELOPMENT</strong></h2>
            </div>
        </div>
        <div class="span4">
            <img class="feature-image" src="http://www.gravatar.com/avatar/73b2482de29bdcf1a68f1043e0090f40.png?s=200" alt="Ben Cull" />
        </div>
    </div>
</section>

<section class="accent-banner">
    <div class="row">
        <div class="span12">
            <h3>Here's why you should hire me to manage your development team...</h3>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="span12">
            <div class="padding-wrap">
                <h2>Development is a Passion</h2>
                <p>
                    Software and Web Development are a passion of mine 24/7. At work I design, delegate and oversee the development of corporate applications and systems. 
                    After hours I'm hacking up side projects using the latest technologies, to learn, for fun and for profit. 
                </p>
                <p>
                    I have a very strong technical background because you have to know development to lead it. 
                    This allows me to not only design and implement solutions myself, but oversee and mentor developers who are tasked with the same.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="padding-wrap">
                <h3>At Work</h3>
            </div>
        </div>
        <div class="span6">
            <div class="padding-wrap">
                <h3>At Home</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="span12">
            <div class="padding-wrap">
                <h2>I Can Organise Developers</h2>
                <p>
                    Software development comes with it's own unique set of day-to-day challenges. This also applies to developers themselves and I've learned some excellent ways to manage developers. 
                    I've also used several software development lifecycle strategies, and found a good balance that keeps developers engaged and product owners happy.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
        </div>
        <div class="span6">
            <div class="padding-wrap">
                <h3>I Like Agile Software Development</h3>
                <ul>
                    <li>Use as a guide, not a law</li>
                    <li>Work with product owners and end users to reach a desired solution faster</li>
                    <li>Allows for greater flexibility and measurement</li>
                    <li>Works best in small teams achieving one goal</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="padding-wrap">
                <h3>I Use Quality Tools</h3>
                <ul>
                    <li>Enable developers to prioritize themselves using Trello</li>
                    <li>Oversee the Agile Software Lifecycle using JIRA and Greenhopper</li>
                    <li>Take control of source code using Git</li>
                    <li>Automate tedious and error prone deployment tasks using Bamboo and TFS</li>
                </ul>
            </div>
        </div>
        <div class="span6"></div>
    </div>
    <div class="row">
        <div class="span6">
        </div>
        <div class="span6">
            <div class="padding-wrap">
                <h3>I'm All About Quality</h3>
                <ul>
                    <li>If you're not the best, why bother</li>
                    <li>Effectively use testing to ensure reliability</li>
                    <li>Implement code reviews to spread knowledge and keep product familiarity across all developers</li>
                    <li>Offer training and hold presentations amongst developers to share knowledge and enhance team capabilities</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="span12">
            <div class="padding-wrap">
                <h2>My Skills and Experience</h2>
                <p>I have worked in corporate and financial based industries for many years and managed to acrue a good range of skills that transcend platforms.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="padding-wrap">
                
            </div>
        </div>
        <div class="span6">
            <div class="padding-wrap">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="span12">
            <div class="padding-wrap">
                <h2>Get in touch...</h2>
                <p class="center"><a class="btn btn-large btn-success" href="mailto:bjcull@gmail.com">Send an email to bjcull@gmail.com</a></p>
                <p class="center"><a class="btn btn-large btn-primary" href="http://twitter.com/benjii22">Contact me via Twitter @@benjii22</a></p>
            </div>
        </div>
    </div>
</section>